
<%# <style>
  .content{
    background-color:red;
  }
</style> %>
<div class="content1">
  <div class="mx-auto  d-flex flex-column align-items-center justify-content-center">
    <h1>Learn programming skills with us</h1>
    <button>view more</button>
  </div>
</div>